{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Inscription</h1>

    
    <div class="col-10 offset-1">
        {% include "includes/forms/registerForm.html.twig" %}
    </div>
{% endblock %}