{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Inscription</h1>

    <div class="col-6 offset-3">
        {{ form(registrationForm)}}
    </div>
{% endblock %}