{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block body %}
	<div class="text-center">
		<h1>Amoureux des sports d'hiver,<br>
           rejoins la plateforme d'informations sur les figures de snow, la où le partage est essentiel !</h1>

		<h2>Figure de Snow</h2>

		<div>
			<h3>Les figures</h3>
		</div>
	</div>
{% endblock %}
