<footer id="" class="footer mt-auto pt-3 text-center text-white">
  <div class="container pt-4">
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Youtube -->
      <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button">
        <i class="fab fa-youtube"></i>
      </a>
    </section>
  </div>
  <p class="text-center bg-light mb-0">
    &copy; Copyright
    {{ 'now'|date('Y') }}
    &middot;
    <a href="/" class="text-decoration-none text-white">À propos</a>
  </p>
</footer>
