{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Ajouter une figure</h1>

    <div class="col-10 offset-1">
        {% include "includes/forms/figureForm.html.twig" with {"formButton" : "Valider"} %}
    </div>
{% endblock %}