{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Modifier une figure</h1>

    <div class="col-10 offset-1">
        {% include "includes/forms/figureForm.html.twig" with {"formButton" : "Modifier"} %}
    </div>
{% endblock %}