<div class="col mx-auto">
	<h3 class="mb-5">Commentaires</h3>

	{% if comments %}
		{% for comment in comments %}
		<div class="row mb-3 comments">
			<div class="col-4">
			    <div class="row">
				    <img src="{{ vich_uploader_asset(comment.user, 'imageProfileFile') }}" class="col-6 d-flex align-items-center img-fluid rounded-start" alt="user image profile" style="width: 5rem">
				    <p class="col-6 d-flex align-items-center">{{ comment.user.firstname }}</p>
				</div>
			</div>
			<div class="col-8">
				<div class="row">
					<p class="d-flex align-items-center">{{ comment.message }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	{% else %}
		<p>Pas de commentaires</p>
	{% endif %}
</div>
<div class="navigation d-flex justify-content-center my-8">
   {{ knp_pagination_render(comments) }}
</div>
