{% extends 'base.html.twig' %}

{% block title %}HTTP Error {{ exception.statusCode }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5 mb-5">HTTP Error {{ exception.statusCode }}</h1>

    <div class="row">
        <div class="col text-center">
            <p class="mt-5 mb-5">{{ exception.statusText }}</p>

            <a class="mt-5" aria-current="page" href="{{ path('home') }}">Retour à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}