.lightbox-gallery {
  background-image: linear-gradient(#4a148c, #e53935);
  background-repeat: no-repeat;
  color: #000;
  overflow-x: hidden;
}
.lightbox-gallery p {
  color: #fff;
}
.lightbox-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: #fff;
}
@media (max-width: 767px) {
  .lightbox-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}
.lightbox-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}
.lightbox-gallery .intro p {
  margin-bottom: 0;
}
.lightbox-gallery .photos {
  padding-bottom: 20px;
}
.lightbox-gallery .item {
  padding-bottom: 30px;
}
.figure-thumbnail {
  width: 200px;
  height: 200px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.flash-message {
  text-align: center;
}

.flash-message{
  border: 3px solid green;
  margin-top: 10px;
}

div .comments {
  border-radius: 6px;
}

div .comments:nth-child(odd) {
  background-color: #d0e1f9;
}

div .comments:nth-child(even) {
  background-color: #fff;
}
