<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/4c2b4e375e.js" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>
		<link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}"/>
		<link rel="stylesheet" href="{{ asset('./assets/css/form.css') }}">
        <title>{% block title %}SnowBoard{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
	    {% include "base/navbar.html.twig" %}
		<main class="content">
			<div> {% block body %}{% endblock %}</div>
		</main>

		{% include "base/footer.html.twig" %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
    </body>
</html>
